    
    body {        
        margin-top: 5vh;
        padding: 0;
        height: 95vh;
        transition: background-color 0.5s ease;
    }

    .navbar {
        height: 5vh;
    }

    .dark-mode {
        background-color: #333333;
        color: #ffffff;
    }

    .left {
        min-height: 95vh;
        overflow-y: hidden; /* optional */
        border-right: 1px solid #dee2e6;
    }

    .toggle-dark-mode {
        cursor: pointer;
        margin-left: 10px;
    }

    .toggle-dark-mode i {
        font-size: 1.2rem;
    }

    .dark-mode .toggle-dark-mode i:before {
        content: '\f185';
    }

    .container {
        margin-top: 30px;
    }

    h2 {
        margin-top: 20px;
    }

    a {
        color: #6C757D;
    }

    a:hover {
        color: #17A2B8;
    }

    .toggle-dark-mode {
        display: inline-block;
        padding: 5px;
        background-color: #ddd;
        color: #222;
        border-radius: 5px;
        cursor: pointer;
    }
    figure {
        padding-right: 30px;
    }
    h4 {
      margin-top: 40px;
    }
  
  
/*=====畫廊效果=====*/
.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

iframe {
    margin: 0 auto;
    position:relative;
}