<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>escape-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,417}</string>
                <key>spriteSourceSize</key>
                <string>{740,417}</string>
                <key>textureRect</key>
                <string>{{2220,832},{740,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>escape-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,416}</string>
                <key>spriteSourceSize</key>
                <string>{355,416}</string>
                <key>textureRect</key>
                <string>{{0,0},{355,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>escape-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,416}</string>
                <key>spriteSourceSize</key>
                <string>{740,416}</string>
                <key>textureRect</key>
                <string>{{2376,416},{740,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,416}</string>
                <key>spriteSourceSize</key>
                <string>{572,416}</string>
                <key>textureRect</key>
                <string>{{1136,416},{572,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,469}</string>
                <key>spriteSourceSize</key>
                <string>{740,469}</string>
                <key>textureRect</key>
                <string>{{2960,832},{740,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,416}</string>
                <key>spriteSourceSize</key>
                <string>{433,416}</string>
                <key>textureRect</key>
                <string>{{1149,0},{433,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,416}</string>
                <key>spriteSourceSize</key>
                <string>{531,416}</string>
                <key>textureRect</key>
                <string>{{2598,0},{531,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,416}</string>
                <key>spriteSourceSize</key>
                <string>{397,416}</string>
                <key>textureRect</key>
                <string>{{355,0},{397,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,416}</string>
                <key>spriteSourceSize</key>
                <string>{397,416}</string>
                <key>textureRect</key>
                <string>{{752,0},{397,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,416}</string>
                <key>spriteSourceSize</key>
                <string>{532,416}</string>
                <key>textureRect</key>
                <string>{{3129,0},{532,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,416}</string>
                <key>spriteSourceSize</key>
                <string>{568,416}</string>
                <key>textureRect</key>
                <string>{{0,416},{568,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,416}</string>
                <key>spriteSourceSize</key>
                <string>{568,416}</string>
                <key>textureRect</key>
                <string>{{568,416},{568,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,416}</string>
                <key>spriteSourceSize</key>
                <string>{668,416}</string>
                <key>textureRect</key>
                <string>{{1708,416},{668,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,416}</string>
                <key>spriteSourceSize</key>
                <string>{508,416}</string>
                <key>textureRect</key>
                <string>{{1582,0},{508,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,416}</string>
                <key>spriteSourceSize</key>
                <string>{508,416}</string>
                <key>textureRect</key>
                <string>{{2090,0},{508,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,416}</string>
                <key>spriteSourceSize</key>
                <string>{740,416}</string>
                <key>textureRect</key>
                <string>{{3116,416},{740,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,416}</string>
                <key>spriteSourceSize</key>
                <string>{740,416}</string>
                <key>textureRect</key>
                <string>{{0,832},{740,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,416}</string>
                <key>spriteSourceSize</key>
                <string>{740,416}</string>
                <key>textureRect</key>
                <string>{{740,832},{740,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,416}</string>
                <key>spriteSourceSize</key>
                <string>{740,416}</string>
                <key>textureRect</key>
                <string>{{1480,832},{740,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bg.png</string>
            <key>size</key>
            <string>{3856,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588c39c78ec61b4163dbfecd7398658c:abc939f267387a36b3ae77e2e07fb23f:87f2ed12dd9d556ef5d890ec86157b0e$</string>
            <key>textureFileName</key>
            <string>Bg.png</string>
        </dict>
    </dict>
</plist>
